{% extends 'app/base.html' %} {% load static %} 






{% block carrusel %} 
<div class="fixed-carousel" style="background: linear-gradient(45deg, #0033a0 50%, #d52b1e 50%)">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for item in carousel_items %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="image-container">
        {% if item.link %}
            <a href="{{ item.link }}" target="_blank">
                <img src="{{ item.image.url }}" class="d-block mx-auto" alt="Carousel Image">
            </a>
        {% else %}
            <img src="{{ item.image.url }}" class="d-block mx-auto" alt="Carousel Image">
        {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<hr />
{% endblock %}
{% block contenido %}
<br />
<div class="container ">
  
  <div class="accordion accordion-flush " id="accordionFlushExample">
    {% for section in sections %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapse{{ section.id }}"
            aria-expanded="false"
            aria-controls="flush-collapse{{ section.id }}"
          >
            {{ section.title | capfirst }}
          </button>
        </h2>
        <div id="flush-collapse{{ section.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="row">
              <div class="col-md-5">
                <img src="{{ section.image.url }}" alt="{{ section.title }}" class="img-fluid rounded">
              </div>
              <div class="col-md-7">
                <h2>{{ section.title | capfirst }}</h2>
                <hr />
                <p>{{ section.content | linebreaks | safe }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  
</div>
<br>

<br />
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab">
            <li class="nav-item">
              <a href="#home" class="nav-link active" data-bs-toggle="tab" title="Ver las últimas noticias"
                >Noticias</a
              >
            </li>
            <li class="nav-item">
              <a href="#profile" class="nav-link" data-bs-toggle="tab" title="Explorar datos "
                >Datos</a
              >
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="home">
              <div class="card">
                <ul class="list-group list-group-flush">
                  {% for n in noticias|slice:":5" %}
                  {% if n.categoria and n.categoria.nombre == "Noticia" %}
                      <li class="list-group-item">
                          <div class="card mb-3">
                              <div class="row g-0">
                                  <div class="col-md-4">
                                      {% if n.imagen %}
                                          <div class="img-container" style="height: 200px; overflow: hidden">
                                              <img src="{{n.imagen.url}}" class="img-fluid" alt="..." style="object-fit: cover; width: 100%; height: 100%">
                                          </div>
                                      {% else %}
                                          <div class="img-container" style="height: 200px; overflow: hidden">
                                            <img src="{% static 'app/img/Logo.png' %}" class="img-fluid" alt="..." style="object-fit: cover; width: 100%; height: 100%">
                                        </div>
                                      {% endif %}
                                  </div>
                                  <div class="col-md-8">
                                      <div class="card-body">
                                          <h5 class="card-title">{{n.titulo | title }}</h5>
                                          <p class="card-text">
                                              {{n.cuerpo | capfirst | slice:":200" }}{% if n.cuerpo|length > 200 %}...{% endif %}
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-footer text-muted d-flex justify-content-between">
                                  <small>{{n.fecha_creacion | date:"F j, Y"}}</small>
                                  <a href="{% url 'ver_noticia' n.id %}" class="ml-auto">Leer más ...</a>
                              </div>
                          </div>
                      </li>
                  {% endif %}
              {% endfor %}
              
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="profile">
              <div class="card">
                <ul class="list-group list-group-flush">
                  {% for n in noticias|slice:":5" %}
                  {% if n.categoria and n.categoria.nombre == "Dato" %}
                      <li class="list-group-item">
                          <div class="card mb-3">
                              <div class="row g-0">
                                  <div class="col-md-4">
                                      {% if n.imagen %}
                                          <div class="img-container" style="height: 200px; overflow: hidden">
                                              <img src="{{n.imagen.url}}" class="img-fluid" alt="..." style="object-fit: cover; width: 100%; height: 100%">
                                          </div>
                                      {% else %}
                                      <div class="img-container" style="height: 200px; overflow: hidden">
                                        <img src="{% static 'app/img/Logo.png' %}" class="img-fluid" alt="..." style="object-fit: cover; width: 100%; height: 100%">
                                    </div>
                                      {% endif %}
                                  </div>
                                  <div class="col-md-8">
                                      <div class="card-body">
                                          <h5 class="card-title">{{n.titulo | title }}</h5>
                                          <p class="card-text">
                                              {{n.cuerpo | capfirst | slice:":200" }}{% if n.cuerpo|length > 200 %}...{% endif %}
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-footer text-muted d-flex justify-content-between">
                                  <small>{{n.fecha_creacion | date:"F j, Y"}}</small>
                                  <a href="{% url 'ver_noticia' n.id %}" class="ml-auto">Leer más ...</a>
                              </div>
                          </div>
                      </li>
                  {% endif %}
              {% endfor %}
              
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
      <div class="row">
        {% for banner in banners %}
           <div>
                <div class="card">
                    {% if banner.link %}
                        <a href="{{ banner.link }}" target="_blank">
                            <img src="{{ banner.image.url }}" class="card-img-top img-fluid" alt="Banner">
                        </a>
                    {% else %}
                        <img src="{{ banner.image.url }}" class="card-img-top img-fluid" alt="Banner">
                    {% endif %}
             
            </div>
            <br>
            </div>
        {% endfor %}
        
    </div>
    <hr>
      <h2>Eventos</h2>
      <div class="card">
        <div class="card-body">
          {% for evento in eventos  %}
          <div class="d-flex justify-content-between">
            <div class="card bg-warning text-white">
              <div class="card-body">
                <div class="date">
                  <div class="day fw-bold text-center">
                    {{ evento.fecha.day }}
                  </div>
                  <div class="month fw-bold">{{ evento.fecha|date:"M" }}</div>
                </div>
              </div>
            </div>
            <div class="event-details">
              <h5 class="card-title" style="text-align: left">
                {{ evento.titulo }}
              </h5>
              <br />
              <p class="card-text">
                Horario: {{ evento.horario_inicio }} - {{ evento.horario_fin }}
              </p>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>



<br /><br /><br /><br />

{% endblock %}
